.slide-show {
  position: relative;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.712);
  border-radius: 1rem;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin: auto;
  max-width: 50vw;
  max-height: 50vh;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.5s;
}

.slide.fade-out {
  opacity: 0;
}

.slide.fade-out + .slide {
  opacity: 1;
}

.slide-caption {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.671);
  color: white;
  border-radius: 0 0 1rem 1rem;
  bottom: 1px;
  right: 0;
  left: 0;
  margin: auto;
  font-style: italic;
}
